<div class="row justify-content-center">
  <div class="col-md-6">

    <button class="btn btn-primary"
            (click)="showFirstUser()"
            [class.btn-danger]="selectedButton == 0"
    >
      Show First User
    </button>
    <button class="btn btn-primary"

            [class.btn-danger]="selectedButton == 1"
            (click)="showSecondUser()">
      Show second user
    </button>
    <div class="form-group" *ngIf="userList">
      <label for="dropdown">Users available: </label>
      <select id="dropdown"
              name="dropdown"
              [(ngModel)]="selectedUser">
        <option *ngFor="let user of userList"
                [ngValue]="user">{{user.userName}}
        </option>
      </select>
      <button class="btn btn-primary"
              (click)="showSelectedUser()">
        Show selected user
      </button>
    </div>
  </div>
 <router-outlet>
 </router-outlet>
</div>
