<div class="row justify-content-center, fixedheight">
  <div class="col-md-4">
    <h3> Login component Works</h3>
    <form (ngSubmit)="submitForm()"
          *ngIf="!loggedIn"
    #formControl="ngForm"
    #formElement>
      <div class="form-group">
        <label for="usernameInput">username</label>
        <input type="text"
               #usernameElement
               #usernameControl="ngModel"
               name="username"
               minlength="3"
               pattern="[a-z]+"
               id="usernameInput"
               class="form-control"
               required
                [(ngModel)]="userModel.userName">
      </div>
      <div class="form-group">
        <label for="passwordInput">password</label>
        <input type="password"
               #passwordElement
               name="password"
               id="passwordInput"
               class="form-control"
               required
              [(ngModel)]="userModel.password">
      </div>
      <button type="submit"
              [disabled]="formControl.invalid"
              class="btn btn-primary">Submit!
      </button>
      <p>form classes:{{formElement?.className}}</p>
      <p *ngIf="wrongCredentials ">Wrong credentials</p>
    </form>
    <form *ngIf="loggedIn">
      <h2>You are logged in as: {{userModel.userName}}</h2>
      <button class="btn btn-danger form-control"
              (click)="logout()">Logout</button>
    </form>
  </div>
  <div class="col-md-4">
    <div *ngFor="let user of userList">
      <ul>
        <li>username: {{user.userName}}</li>
        <li>password: {{user.password}}</li>
      </ul>
    </div>
  </div>
</div>
